---
// zodiac icon: Gemini
---

<section class="zodiac-card gemini">
    <svg
        class="zodiac-icon gemini-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
    >
        <path class="zodiac-line gem-line gem-right" d="M16 4.525v14.948" />
        <path class="zodiac-line gem-line gem-top" d="M20 3A17 17 0 0 1 4 3" />
        <path class="zodiac-line gem-line gem-bottom" d="M4 21a17 17 0 0 1 16 0" />
        <path class="zodiac-line gem-line gem-left" d="M8 4.525v14.948" />
    </svg>
    <h2>Gemini</h2>
</section>
