---
// zodiac icon: Scorpio
---

<section class="zodiac-card scorpio">
  <svg
    class="zodiac-icon scorpio-icon"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <g class="scorpio-tail-group">
      <path class="zodiac-line scorpio-line scorpio-main" d="M10 19V5.5a1 1 0 0 1 5 0V17a2 2 0 0 0 2 2h5l-3-3" />
      <path class="zodiac-line scorpio-line scorpio-arrow" d="m22 19-3 3" />
    </g>
    <path class="zodiac-line scorpio-line scorpio-left" d="M5 19V5.5a1 1 0 0 1 5 0" />
    <path class="zodiac-line scorpio-line scorpio-hook" d="M5 5.5A2.5 2.5 0 0 0 2.5 3" />
  </svg>
  <h2>Scorpio</h2>
</section>
