---
// zodiac icon: Pisces
---

<section class="zodiac-card pisces">
  <svg
    class="zodiac-icon pisces-icon"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path class="zodiac-line pisces-line pisces-right" d="M19 21a15 15 0 0 1 0-18" />
    <path class="zodiac-line pisces-line pisces-middle" d="M20 12H4" />
    <path class="zodiac-line pisces-line pisces-left" d="M5 3a15 15 0 0 1 0 18" />
  </svg>
  <h2>Pisces</h2>
</section>
