---
// zodiac icon: Aries
---

<section class="zodiac-card aries">
    <svg
        class="zodiac-icon aries-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
    >
        <path class="zodiac-line aries-line aries-left-curl" d="M7 12a4.5 4.5 0 1 1 5-4.5" />
        <path class="zodiac-line aries-line aries-right-curl" d="M12 7.5a4.5 4.5 0 1 1 5 4.5" />
        <path class="zodiac-line aries-line aries-stem" d="M12 7.5V21" />
    </svg>
    <h2>Aries</h2>
</section>